/* Set main app colors in root */
:root {
   --main-bg-color: #373232;
   --main-color: #ffffff;
}

/* Set global style for font-family */
* {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Begin using webkit stroke width and color to add touch of Marvel "red" to the app */
h1 {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    padding: 1rem;
    text-align: center;
    font-size: 3rem;
    -webkit-text-stroke-width: .07rem;
    -webkit-text-stroke-color: #ec1d24;
}

h3 {
    font-size: 1.5rem;
    -webkit-text-stroke-width: .015rem;
    -webkit-text-stroke-color: #ec1d24;
}

/* May or may not want to use fit-content! */
#search-container {
    border:solid 1px;
    margin: 2.5rem;
    padding: 1.2rem;
    flex-wrap: wrap;
    display: flex;
    /* width:fit-content; */
}

#searchbox {
    display: flex;
    margin: 1rem 1rem;
    padding: .5rem;
    font-size: 1.5rem;
    border-radius: .5rem;
}

.btn {
    margin: .5rem 1rem .5rem;
    padding: .5rem;
    font-size: 1.3rem;
    border-radius: .5rem;
    -webkit-text-stroke-width: .03rem;
    -webkit-text-stroke-color: #ec1d24;
}

.search-btn {
    width: 50%;
}

.favorites-btn {
    width: 50%;
}

#profile {
    border: solid 1pt;
    margin: 3rem;
}

#wiki-sum {
    border: solid 1pt;
    margin: 3rem;
}

.wiki-link {
    font-size: 1.5rem;
    -webkit-text-stroke-width: .015rem;
    -webkit-text-stroke-color: #ec1d24;
}

#favorites {
    border: solid 1pt;
    margin: 2.5rem;
}

.columns {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    background-color: var(--main-bg-color);
}

#footer {
    color: var(--main-color);
    -webkit-text-stroke-width: .03rem;
    -webkit-text-stroke-color: #ec1d24;
}

.media-area {
    margin-top: 1rem;
}

/* Add background image to the body */
body {
    background-image: url("/assets/images/IronMan.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size: 750px;
    background-image:rgba(0, 0, 0, .1)
}